{% extends 'index.html' %}
{% load static %}
{% block titulo %}
Aboutus
{% endblock titulo %}

{% block imagen %}
  {% static 'img/about1.jpg' %}
{% endblock imagen %}

{% block titulo_principal %}
  Acerca de Mi
{% endblock titulo_principal %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}

<!--<link href="{% static 'vendor/bootstrap/css/bootstrap.min522.css' %}" rel="stylesheet">-->


<div >
  <img src="{% static 'img/LeonardoSangari.jpg' %}" class="roimg-fluid rounded-circle" alt="LeonardoSangari">
</div>
<DIV>
   
  <P>
Me desempeñé más de 4 años como auditor interno / externo en sistemas en diversas entidades bancarias de la República Argentina. Mas tarde me dediqué como consultor de seguridad informática para una empresa líder de la región. Actualmente me encuentro trabajando para el Banco Municipal de Rosario como SysAdmin en el sector de Producción y Tecnología. Previamente estuve más de 8 años como administrador de Seguridad para la misma entidad. Me considero proactivo, emprendedor, con gran capacidad para formar parte de un equipo de trabajo y su liderazgo. Dispuesto a asumir responsabilidades al igual que a la capacitación constante.

CEO & Co-Founder de Equilateral LAB, un espacio productivo y de desarrollo profesional de excelencia con un fuerte compromiso de transformación de las relaciones entre la gente y el trabajo.
Queremos lograr una importante presencia en el mercado y convertirnos en una alternativa cierta y posible para quienes desean desarrollarse en el mundo de los sistemas de información.
  </P>
</DIV>

{% endblock contenido %}