{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
CRUD
{% endblock titulo %}

{% block imagen %}
  {% static 'img/crud.png' %}
{% endblock imagen %}

{% block titulo_principal %}
  Alta - Lectura -  Modificacion - Baja
{% endblock titulo_principal %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}

<style>
  .table{
    font-size: 12px;
  }
</style>


          {% if forms.errors %}

                <div class="alert alert-danger" role="alert">
                  Ups!
                </div>

          {% endif %}

          <h1>Alta de Autor</h1>

          <form action="{% url 'Blog:guardarAutor' %}" method="POST" > 
              {% csrf_token %}
              {%  if mensaje %}
                  <div class="alert alert-success" role="alert">
                    Autor Registrado!
                  </div>
              {% endif %}

              {{ form|crispy }}
              {% if user.is_authenticated%}
              <button type="submit" class="btn btn-success">Guardar</button>
              {% endif %}
          </form>
<br>
          <div class=''>
            <h2>Listado de Autores</h2>
           <div class="table-responsive">
              <table class='table table-striped table-hover table-sm'>
                <thead>
                  <tr>
                   
                    <th>Nombre Autor:</th>
                    <th>Apellido Autor:</th>
                    <th>Linkedin:</th>
                    <th>Git:</th>
                    <th>Email:</th>
                    <th>Activo/No Activo:</th>
                    <th colspan="">Opciones</th>
                  </tr>
                </thead>
                <tbody>
                  {% for autor in autores %}
                      <tr>
                        <td style="display:none;">{{autor.id}}</td>
                          <td>{{autor.nombre}}</td>
                          <td>{{autor.apellido}}</td>
                          <td>{{autor.linkedin}}</td>
                          <td>{{autor.git}}</td>
                          <td>{{autor.correo}}</td>
                          <td>{{autor.estado}}</td>
                          {% if user.is_authenticated%}
                          <td><a href="{% url 'Blog:editarAutor' autor.id %}" class="btn btn-info">Editar</a></td>
                          <td><a href="{% url 'Blog:eliminarAutor' autor.id %}" class="btn btn-danger">Eliminar</a></td>
                          {% endif %}
                      </tr>
                  {%endfor%}
                </tbody>
              </table>
            </div> 

{% endblock contenido %}