{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block titulo %}
CRUD
{% endblock titulo %}

{% block imagen %}
  {% static 'img/crud.png' %}
{% endblock imagen %}

{% block titulo_principal %}
  Alta - Lectura -  Modificacion - Baja
{% endblock titulo_principal %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}



          {% if forms.errors %}

                <div class="alert alert-danger" role="alert">
                  Ups!
                </div>

          {% endif %}

         <center> <h1>Alta Post</h1></center>

         <div class="card text-black" style="border-radius: 1rem; " > 
          <div class="card-body" >
            <div >

          <form action="{% url 'Blog:altapost' %}" method="POST" enctype="multipart/form-data"> 
              {% csrf_token %}
              {%  if mensaje %}
                  <div class="alert alert-success" role="alert">
                    Post Registrado!
                  </div>
              {% endif %}

              {{ form|crispy }}
              {{ form.media }}
              
              
              {% if user.is_authenticated%}
              <center>
              <button type="submit" class="btn btn-success"><i class="fas fa-save"></i></button>
              <a class="btn btn-danger" href="{% url 'Blog:index' %}"><i class="fas fa-home"></i></a>
              {% endif %}
            </center>
          </form>

        </div>
      </div>
    </div>
 
{% endblock contenido %}