{% extends 'index.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block titulo %}
CRUD
{% endblock titulo %}

{% block imagen %}
  {% static 'img/crud.png' %}
{% endblock imagen %}

{% block titulo_principal %}
  Alta - Lectura -  Modificacion - Baja
{% endblock titulo_principal %}

{% block barra_busqueda %}
{% endblock barra_busqueda %}

{% block contenido %}



          {% if forms.errors %}

                <div class="alert alert-danger" role="alert">
                  Ups!
                </div>

          {% endif %}

          <h1>Alta de Autor</h1>

          <form action="{% url 'Blog:guardarPost' %}" method="POST" > 
              {% csrf_token %}
              {%  if mensaje %}
                  <div class="alert alert-success" role="alert">
                    Post Registrado!
                  </div>
              {% endif %}

              {{ form|crispy }}

              <button type="submit" class="btn btn-success">Guardar</button>

          </form>

{% endblock contenido %}